<app-titulo [titulo]="'Eventos'"></app-titulo>
<div class="form-inline">
  <div class="d-flex align-items-center mb-2">
    <label class="mr-2">Filtro:</label>
    <input
      type="text"
      class="form-control me-2 w-auto"
      placeholder="Buscar"
      [(ngModel)]="filtroLista"
    />
  </div>
</div>

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>
        <button type="button" class="btn btn-outline-light btn-sm" (click)="alterarImg()">
          <i class="{{ !mostrarImg ? 'fa fa-eye-slash' : 'fa fa-eye' }}"></i>
          {{ !mostrarImg ? 'Ocultar' : 'Exibir' }}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Options</th>
    </tr>
  </thead>

  @if (eventos().length > 0) {
    <tbody>
      @for (evento of eventos(); track evento.id) {
        <tr>
          <td>
            <div [collapse]="mostrarImg" [isAnimated]="true">
              <img
                src="assets/{{ evento.imagemURL }}"
                alt=""
                [style.width.px]="widthImg"
                [style.margin.px]="marginImg"
              />
            </div>
          </td>
          <td>{{ evento.id }}</td>
          <td>{{ evento.tema }}</td>
          <td>{{ evento.local }}</td>
          <td>{{ evento.dataEvento | DateTimeFormat }}</td>
          <td>{{ evento.qtdPessoas }}</td>
          <td>{{ evento.lote?.[0]?.nome }}</td>
          <td>
            <div class="btn-group">
              <button class="btn btn-outline-primary btn-sm" tooltip="Editar">
                <i class="fa fa-edit"></i> Editar
              </button>
              <button class="btn btn-outline-danger btn-sm" tooltip="Excluir" (click)="openModal(template)">
                <i class="fa fa-trash"></i> Excluir
              </button>
            </div>
          </td>
        </tr>
      }
    </tbody>
  } @else {
    <tfoot>
      <tr>
        <td colspan="8" class="text-center">Nenhum evento encontrado.</td>
      </tr>
    </tfoot>
  }
</table>


<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza de que deseja deletar este Evento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
