<div class="card rounded shadow-sm">
  <form [formGroup]="form" #formDir="ngForm">
    <div class="p-3">
      <div class="row g-3">
        <div class="col-md-12">
          <label class="form-label">Tema</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{ 'is-invalid': f.tema.errors && f.tema.touched }"
            formControlName="tema"
            placeholder="Insira o Tema"
          />
          @if (f.tema.errors?.required) {
            <div class="invalid-feedback">Tema é obrigatório.</div>
          }

          @if (f.tema.errors?.minlength) {
            <div class="invalid-feedback">Tema deve ter no mínimo 4 caracteres.</div>
          }

          @if (f.tema.errors?.maxlength) {
            <div class="invalid-feedback">Tema deve ter no máximo 50 caracteres.</div>
          }
        </div>
      </div>

      <div class="row g-3 mt-1">
        <div class="col-md-8">
          <label class="form-label">Local</label>
          <input
            type="text"
            class="form-control"
            formGroupName="local"
            [ngClass]="{ 'is-invalid': f.local.errors && f.local.touched }"
          />
          @if (f.local.errors?.required) {
            <div class="invalid-feedback">Local é obrigatório.</div>
          }
        </div>

        <div class="col-md-4">
          <label class="form-label">Data e Hora</label>
          <input
            type="datetime-local"
            class="form-control"
            formControlName="dataEvento"
            [ngClass]="{
              'is-invalid': f.dataEvento.errors && f.dataEvento.touched,
            }"
          />
          @if (f.dataEvento.errors?.required) {
            <div class="invalid-feedback">Data e Hora é obrigatório.</div>
          }
        </div>
      </div>

      <div class="row g-3 mt-1">
        <div class="col-md-2">
          <label class="form-label">Qtd Pessoas</label>
          <input
            type="text"
            class="form-control"
            formControlName="qtdPessoas"
            [ngClass]="{
              'is-invalid': f.qtdPessoas.errors && f.qtdPessoas.touched,
            }"
          />
          @if (f.qtdPessoas.errors?.required) {
            <div class="invalid-feedback">Qtd Pessoas é obrigatório.</div>
          }
          @if (f.qtdPessoas.errors?.max) {
            <div class="invalid-feedback">Qtd Pessoas maxima é 120000 pessoas.</div>
          }
        </div>

        <div class="col-md-2">
          <label class="form-label">Telefone</label>
          <input
            type="text"
            class="form-control"
            placeholder="(000) 90000-0000"
            formControlName="telefone"
            [ngClass]="{
              'is-invalid': f.telefone.errors && f.telefone.touched,
            }"
          />
          @if (f.telefone.errors?.required) {
            <div class="invalid-feedback">Telefone é obrigatório.</div>
          }
        </div>

        <div class="col-md-4">
          <label class="form-label">Email</label>
          <input
            type="text"
            class="form-control"
            formControlName="email"
            placeholder="e-mail"
            [ngClass]="{
              'is-invalid': f.email.errors && f.email.touched,
            }"
          />
          @if (f.email.errors?.required) {
            <div class="invalid-feedback">Email é obrigatório.</div>
          }
          @if (f.email.value?.email) {
            <div class="invalid-feedback">Email está em formato invalido.</div>
          }
        </div>

        <div class="col-md-4">
          <label class="form-label">Imagem</label>
          <input
            type="text"
            class="form-control"
            formControlName="imagemURL"
            placeholder="imagem"
            [ngClass]="{
              'is-invalid': f.imagemURL.errors && f.imagemURL.touched,
            }"
          />
          @if (f.imagemURL.errors?.required) {
            <div class="invalid-feedback">Imagem é obrigatória.</div>
          }
        </div>
      </div>
    </div>

    <div class="card-footer">
      <div class="d-flex">
        <button
          type="button"
          class="btn btn-outline-secondary me-auto border"
          (click)="resetForm()"
        >
          Cancelar Alteração
        </button>

        <button type="submit" class="btn btn-success" [disabled]="!form.valid">
          <span class="spinner-border spinner-border-sm me-1" [hidden]="!formDir.submitted"></span>
          Salvar Evento
        </button>
      </div>
    </div>
  </form>
</div>
