<app-titulo [titulo]="'Perfil'"></app-titulo>
<div class="card rounded shadow-sm">
  <form>
    <div class="row p-3">
      <!-- COLUNA ESQUERDA -->
      <div class="col-lg-3 pt-1">
        <div class="card mb-3">
          <div class="card-header"></div>

          <div class="d-flex justify-content-center pt-3">
            <a>
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1y3gyQ1DcxBKBW7t3AlRgA4bBtb1GlzCPnBZHZ7FP5EV0axzvNeOxxNM&s=10"
                name="aboutme"
                width="120"
                height="120"
                class="rounded-circle"
                alt="Foto do perfil"
              />
            </a>
          </div>

          <div class="card-body">
            <div class="h4 text-center mb-3">@UserName</div>

            <div class="pb-1"><b>Nome:</b> Miracles Lee Cross</div>

            <div>
              Developer of web applications, JavaScript, PHP, Java, Python, Ruby, Java, Node.js,
              etc.
            </div>
          </div>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-6 text-center border-end">
                  <div class="h5">1342</div>
                  <div class="h6 text-muted">Eventos Ministrados</div>
                </div>

                <div class="col-6 text-center">
                  <div class="h5">1342</div>
                  <div class="h6 text-muted">Eventos Participados</div>
                </div>
              </div>
            </li>
          </ul>

          <div class="card-footer"></div>
        </div>
      </div>

      <!-- COLUNA DIREITA -->
      <div class="col-lg-9">
        <div class="row g-3">
          <div class="col-12">
            <h3 class="border-bottom">Detalhe Perfil</h3>
          </div>

          <div class="col-sm">
            <label class="form-label"> Título </label>

            <select class="form-select">
              <option value=""></option>
              <option value="0">Não Quero</option>
              <option value="Tecnologo">Tecnólogo(a)</option>
              <option value="Bacharel">Bacharel</option>
              <option value="Especialista">Especialista</option>
              <option value="PosGraduado">Pós Graduado(a)</option>
              <option value="Mestre">Mestre</option>
              <option value="Doutor">Doutor(a)</option>
              <option value="PosDoc">Pós Doc</option>
            </select>
          </div>

          <div class="col-sm-5">
            <label class="form-label"> Primeiro Nome </label>

            <input type="text" class="form-control" />
          </div>

          <div class="col-sm-5">
            <label class="form-label"> Último nome </label>

            <input type="text" class="form-control" />
          </div>
        </div>

        <div class="row g-3 mt-1">
          <div class="col-sm-5">
            <label class="form-label"> E-mail </label>

            <input type="text" class="form-control" />
          </div>

          <div class="col-sm-4">
            <label class="form-label"> Telefone </label>

            <input type="text" class="form-control" />
          </div>

          <div class="col-sm">
            <label class="form-label"> Função </label>

            <select class="form-select">
              <option value=""></option>
              <option value="Participante">Participante</option>
              <option value="Palestrante">Palestrante</option>
            </select>
          </div>

          <div class="col-12">
            <label class="form-label"> Descrição </label>

            <input type="text" class="form-control" />
          </div>
        </div>

        <!-- MUDAR SENHA -->
        <div>
          <h3 class="pt-3 border-bottom">Mudar Senha</h3>

          <p>Caso mude de senha, preencha os campos abaixo:</p>
        </div>

        <div class="row g-3">
          <div class="col-sm">
            <label class="form-label"> Senha </label>

            <input type="password" class="form-control" />
          </div>

          <div class="col-sm">
            <label class="form-label"> Confirmar Senha </label>

            <input type="password" class="form-control" />
          </div>
        </div>
      </div>
    </div>

    <!-- RODAPÉ -->
    <div class="card-footer">
      <div class="d-flex">
        <button type="button" class="btn btn-outline-secondary me-auto border">
          Cancelar Alteração
        </button>

        <button type="submit" class="btn btn-success">
          <span class="spinner-border spinner-border-sm me-1"></span>

          Salvar Alteração
        </button>
      </div>
    </div>
  </form>
</div>
