<div class="card rounded shadow-sm p-3">
  <div class="d-flex">
    <div class="flex-fill me-auto">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Filtro:</div>
        </div>
        <input
          type="text"
          class="form-control me-2 w-90"
          placeholder="Buscar"
          [(ngModel)]="filtroLista"
        />
      </div>
    </div>
    <div>
      <a class="d-flex btn btn-outline-primary" routerLink="/eventos/detalhe"
        ><i class="fa fa-plus-circle my-1 me-1"></i><b class="d-none d-sm-block">Novo</b></a
      >
    </div>
  </div>

  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th class="d-none d-md-table-cell">
          <button type="button" class="btn btn-outline-light btn-sm" (click)="alterarImg()">
            <i class="{{ !mostrarImg ? 'fa fa-eye-slash' : 'fa fa-eye' }}"></i>
            {{ !mostrarImg ? 'Ocultar' : 'Exibir' }}
          </button>
        </th>
        <th>#</th>
        <th>Tema</th>
        <th class="d-none d-md-table-cell">Local</th>
        <th>Data</th>
        <th class="d-none d-md-table-cell">Qtd Pessoas</th>
        <th class="d-none d-md-table-cell">Lote</th>
        <th>Options</th>
      </tr>
    </thead>

    @if (eventos().length > 0) {
      <tbody>
        @for (evento of eventos(); track evento.id) {
          <tr (click)="detalheEvento(evento.id)" role="button">
            <td class="d-none d-md-table-cell">
              <div [collapse]="mostrarImg" [isAnimated]="true">
                <img
                  src="assets/{{ evento.imagemURL }}"
                  alt=""
                  [style.width.px]="widthImg"
                  [style.margin.px]="marginImg"
                />
              </div>
            </td>
            <td>{{ evento.id }}</td>
            <td>{{ evento.tema }}</td>
            <td class="d-none d-md-table-cell">{{ evento.local }}</td>
            <td>{{ evento.dataEvento | DateTimeFormat }}</td>
            <td class="d-none d-md-table-cell">{{ evento.qtdPessoas }}</td>
            <td class="d-none d-md-table-cell">{{ evento.lote?.[0]?.nome }}</td>
            <td>
              <div class="btn-group">
                <button
                  class="btn btn-danger btn-md"
                  tooltip="Excluir"
                  (click)="openModal($event, template, evento.id)"
                >
                  <i class="fa fa-trash"></i> <span class="d-none d-sm-inline-block">Excluir</span>
                </button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    } @else {
      <tfoot>
        <tr>
          <td colspan="8" class="text-center">Nenhum evento encontrado.</td>
        </tr>
      </tfoot>
    }
  </table>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza de que deseja deletar o Evento de codigo {{this.eventoId}}?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
  </div>
</ng-template>
